fieldset {
    padding: 25px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

fieldset legend {
    padding: 0px 2px 0px 2px;
}

fieldset label {
    font-weight: bold;
    margin-right: 4px;
}

fieldset input, select {
    margin-right: 50px;
}

fieldset .container {
    text-align: center;
}



